@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic&family=Inconsolata:wght@300&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');

h1{
    font-style: italic;
    text-shadow: 0 0 1em whitesmoke;
    font-family: Montserrat;
    font-size: 10vh;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    
    margin-bottom: 10vh;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    display: flex;

    animation: fadeIn 1.7s ease-in-out;

}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

body{
    background: rgb(26,61,189);
    background: radial-gradient(circle, rgba(26,61,189,1) 0%, rgba(131,12,167,1) 100%);

}
#intro-pag{
    margin-bottom: 50vh;
}
p{
    text-align: center ;
    justify-content: center;
    
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 5vh;
    
    font-size: 3vh;
    font-weight: bold;
    font-family: Arima;
    
    color: white;
}
h2{
    font-style: italic;
    font-family: Montserrat;
    text-align: center;
    font-size: 5vh;
    
    color:black;
    text-shadow: 0 0 1em rgb(62, 46, 65);
    
    margin-bottom: 6vh;
}
ul li{
    list-style: none;
    color:white ;
    font-weight: bold;
}
li:hover{
    transform: scale(1.20);
    transition-delay: 0.4s;
}
a{
    font-size: 3vh;
    text-decoration: none;
}
p a{
    font-family: Arima;
}
.tit-tm{
    color: black;
    margin-bottom: -2vh;
}
ul{
    display: flex;
    justify-content: space-around;
    padding-bottom: center;
}
.conteudo-padrao{
    text-align: center;
    
    border: 2px solid black;
    box-shadow: 0 0 7em rgba(255, 0, 0, 0.712);
    border-radius: 3vh;
    
    margin-left: 30vh;
    margin-right: 30vh;
    padding-top: 3vh;
}
#space1{
    padding-bottom: 10px;
    margin-bottom: 50vh;
}
#pac1{
    margin-bottom: 50vh;
}
#dk1{
    margin-bottom: 50vh;
    padding-bottom: 10vh;
}
#mario1{
    margin-bottom: 10vh;
}
img{
    margin-bottom: 1vh;
    width: 40%;

}
footer {
    border-top: 2px solid black;
    box-shadow: 0 0 2em rgba(255, 0, 0, 0.712);

    text-align: center;
    padding: 5vh;
    
    font-family: Arima;
    font-weight: bold;
    font-size: 4vh;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.2s all ease-in-out;
}
#git{
    text-decoration: none;
    color: black;
}
#m{
    margin-top: 6vh;
}
